@font-face {
    font-family: "Subtitles";
    src: url("fonts/Block Berthold Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Survivor";
    src: url("fonts/survivant.ttf") format("truetype");
}

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: #F4F0E6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: #222222;
    padding: 5px;
}

header nav a:hover {
    color: #A45B35;
}

header img {
    display: block;
    margin: 0 auto;
    width: 250px;
    padding-top: 20px;

}

header a {
    margin-top: 0;
    font-family: "subtitles";
    text-align: center;
    font-size: 26px;
}

#hero img{
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 600px;
    padding-top: 80px;
}

#hero {
    background-image: url('junglepathhorizontal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

#hero h2 {
    font-family: "survivor";
    font-size: 56px;
    color: white;
    text-shadow: 0px 10px 12px rgba(0, 0, 0, 1);
}

#hero-image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#hero-image img {
    width: 600px;
    margin-bottom: 30px;
    margin-left: -50px;
}

#Host {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

#Host img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

#you::before {
    padding-top: 50px;
}

#you { 
    text-align: center;
}

#you p {
    margin: 0px;
}

#you .small {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}

#you .big{
    font-family: "survivor";
    font-size: 60px;
    color: #D6A545;
    margin-top: 0px;
    margin-bottom: 50px;
    line-height: .8;
}

#you .you{
    font-family: "survivor";
    font-size: 200px;
    color: #D6A545;
    margin-top: 0px;
    margin-bottom: 100px;
    line-height: .5;
}

#couch {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px 40px 0px 40px;

    background-color: #566347;
}

#couch-image {
    width: 400px;
    margin-left: -200px;
    padding-left: 70px;
}

#couch-image img {
    display: block;
    width: 600px;
}

#couch-text {
    width: 400px;
    text-align: right;
    margin-left: 10px;
}

#couch-text p {
    margin-top: 0;
    width: 420px;
}

#couch .small {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}

#couch .medium{
    font-family: "subtitles";
    font-size: 36px;
    color: white;
    margin-bottom: 30px;
    line-height: .9;
}

#couch .large {
    font-family: "survivor";
    font-size: 58px;
    color: #222222;
    margin-bottom: 35px;
    line-height: .85;
}

.button{
    display: inline-block;
    background-color: #1e2813;
    color: white;
    text-decoration: none;
    font-family: "survivor";
    font-size: 42px;
    padding: 20px 60px;
}

.button:hover {
    background-color: #A45B35;
}

#apply-button{
    text-align: center;
    margin: 40px 0 80px 0;
}

footer{
    color: #222222;
    text-align: center;
    padding: 20px 0;
    font-family: "Times New Roman", Times, Sans-serif;
    font-size: 14px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#hero img {
  animation: fadeIn 1s ease-in-out;
}




/*
background color sand / off white: #F4F0E6;
headings charcoal black: #222222;
emphasis color goldish: #D6A545;
buttons maybe? dark green: #566347;
hover color? dark clay color: #A45B35;
*/